/* Début Footer */

footer{
    background-color: $primaryColor;
    color: white;
    padding: 20px;
    .logo-full2{
      width: 250px;
    }
    .footer_social{
        margin-top: 9px;
        margin-left: 5px;
        letter-spacing: 10px;
        font-size: 35px;
        a{
            color: white;
        }
    }
    nav{
        font-size: 14px;
        width: 100%;
        ul{
            padding: 0;
            li{
                padding: 5px 0;
                a{
                    font-size: 16px;
                    color: $fourthColor;
                }
            }
        }

    }
    .footer_contact{
        font-size: 14px;
        width: 100%;
        a{
            font-size: 16px;
            color: $fourthColor;
        }
        p{
            color: $fourthColor;
            text-align: left;
        }
    }
}


/* Fin Footer */