
/* Début Main Responsive Mobile */

main{
    padding-top: 69px;
    h2{
        font-size: 24px;
        color: white;
    }
    .main_block_banniere{
        position: relative;
        background: url(../../img/back-img1.jpg) 50%;
        background-attachment: fixed;
        background-position: 50%;
        background-size: cover;
        padding: 50px 5px;
        .block_banniere_content{
            @include baseFlexB(column wrap, center, center);
            position: relative;
            gap: 20px;
            margin: auto;
            background-color: transparent;
            height: auto;
            z-index: 1;
            &::before{
                content: '';
                display: inline-block;
                background-color: #553D2C;
                position: absolute;
                top: -22%;
                width: 100%;
                height: 100%;
                padding: 50px 5px;
                z-index: -1;
                opacity: 0.8;
            }
            .logo{
                width: 100px;
            }
            h2{
                font-size: 26px;
                color: black;
                text-shadow: 0.9px 0.9px 1.5px white;
            }
            a{
                font-size: 16px;
                color: black;
                background-color: $primaryColor;
                padding: 10px 25px;
                border-radius: 25px;
                text-transform: uppercase;
                box-shadow: 1px 1px #da7b4b;
                &:hover{
                    background-color: #c74e29;
                    color: white;
                    transition: all 500ms;
                    box-shadow: 0 0 2px 2px white;
                }
            }
        }
    }
    
    .main_present{
        padding: 40px 20px;
        .present_container{
            color: $fourthColor;
            h1{
                color: $fourthColor;
                font-size: 18px;
                font-weight: normal;
            }
            .present_container_block{
                margin: 20px 0;
                font-size: 16px;
                font-weight: normal;
                @include baseFlexB(row wrap, center, center);
                .present_content{
                    @include baseFlexB(column wrap, center, center);
                    margin: 20px 30px;
                    width: 264px;   
                    h3{
                        font-size: 18px;
                        text-transform: uppercase;
                    }
                    img{
                        width: 100px;
                    }
                }
            }
            .present_citation{
                max-width: 400px;
                text-align: center;
                font-style: italic;
                margin: 10px auto;
                padding: 10px;
                color: white;
                background-color: $fourthColor;
                font-size: 16px;
                q{
                    margin: 0 20px;
                    
                    cite{
                        display: inline-block;
                        margin: 0;
                        font-weight: normal;
                    }
                }
                strong{
                    font-weight: normal;
                }
            }
        }
    }

}

.main_objectif{
    background: url(../../img/back-img2.jpg);
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    h2{
        padding: 20px;
        text-align: center;
        color: white;
    }
    .main_objectif_block{
        @include baseFlexB(column wrap, center, center);
        position: relative;
        color: white;
        font-size: 18px;
        padding: 20px 20px 40px 20px;
        text-align: center;
        z-index: 1;
        &::before{
            content: '';
            display: inline-block;
            background-color: $fifthColor;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.9;
        }
        p{
            font-size: 16px;
            color: white;
        }

        a{
            font-size: 16px;
            color: black;
            background-color: $primaryColor;
            padding: 10px 25px;
            border-radius: 25px;
            text-transform: uppercase;
            box-shadow: 1px 1px $secondaryColor;
            &:hover{
                background-color: #c74e29;
                color: white;
                transition: all 500ms;
                box-shadow: 0 0 2px 2px white;
            }
        }
        
    }
}



.main_realisation{
    background-image: url(../../img/texture-line.png.png);
    .realisation-block{
        @include baseFlexB(column wrap, center, center);
        padding: 40px 20px;
        h2{
            font-weight: normal;
            color: $fifthColor;
            font-size: 26px;
            text-align: center;
        }
        .realisation-articles{
            article{
                max-width: 375px;
                margin: 40px 0 0;            
                h3{
                    font-size: 16px;
                    text-transform: uppercase;
                }
                p{
                    margin: 0;
                    font-size: 16px;
                    color: $fourthColor;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}

.banniere-2{
    @include baseFlexB(column wrap, center, center);
    background-image: url(../../../img/texture-paper.png.png);
    background-size: cover;
    background-clip: content-box;
    .banniere-2_content{
        @include baseFlexB(column wrap, center, center);
        color: white;
        font-weight: bold;
        z-index: 1;
        &::before{
            content: '';
            display: inline-block;
            background-color: #553D2C;
            position: absolute;
            top: 0;
            width: 100%;
            height: 275.8px;
            z-index: -1;
            opacity: 1;
        }
        a{
            margin-top: 15px;
            font-size: 16px;
            color: black;
            background-color: $primaryColor;
            padding: 10px 16px;
            border-radius: 25px;
            box-shadow: 0.5px 0.5px rgb(228, 121, 72);
            &:hover{
                background-color: #c74e29;
                color: white;
                transition: all 500ms;
                box-shadow: 0 0 2px 2px white;
            }
        }
    }
}

/* Fin Main Responsive Mobile */

/* Début Main Responsive Tablette */

@media only screen and (min-width : 768px) {
    main{
        .main_present{
            .present_container{
                h1{
                    font-size: 26px;
                    max-width: 800px;
                    margin: auto;
                }
            }
        }
        .main_objectif{
            .main_objectif_block{
                height: 500px;
                p{
                    max-width: 750px;
                } 
            }
        }
        .main_realisation{
            display: flex;
            justify-content: center;
            .realisation-block{
                width: 70%;
                .realisation-articles{
                    @include baseFlexB(row wrap, space-evenly, center);
                    gap: 30px;
                    max-width: 830px;
                    article{
                        width: 100%;
                    }
                }
            }
        }
        .banniere-2{
            .banniere-2_content{
                width: 500px;
            }
        }
    }
}

/* Fin Main Responsive Tablette  */

