
// Variables
    // Couleurs Principales
    $primaryColor: #ff6434;
    $secondaryColor: #dd2c00;
    $thirdColor: #a30000;
    $fourthColor: #686868;
    $fifthColor: #3e3e3e; 

    /*
    $primaryColor: #F3976C;
    $secondaryColor: rgb(250, 213, 196);
    $thirdColor: rgb(141, 117, 80);
    $fourthColor: rgb(104, 104, 104);
    $fifthColor: rgb(51, 51, 51); */