@charset "UTF-8";
* {
  box-sizing: border-box; }

/* Start GLOBAL */
html {
  font-size: 62.5%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6; }
  body h1, body h2, body h3 {
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    color: #333333; }
  body p, body a {
    text-align: center; }
  body a {
    text-decoration: none;
    color: black;
    font-size: 80%; }
  body ul, body ol {
    list-style-type: none;
    list-style: none; }

strong {
  font-weight: normal;
  text-decoration: none; }

.logo-full {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 210px; }

/* End GLOBAL */
/* Début Header */
header {
  padding: 10px 15px 5px 15px; }
  header nav {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 100%; }
    header nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 70px;
      left: -100%;
      text-align: center;
      padding: 0;
      line-height: 25px;
      text-transform: uppercase;
      font-weight: bold;
      background-color: white; }
      header nav ul li {
        display: block;
        border: solid 1px #919191; }
        header nav ul li a {
          display: block; }
        header nav ul li:last-child {
          border-top: none; }
        header nav ul li:hover {
          background-color: #686868; }
          header nav ul li:hover a {
            color: white; }
    header nav .checkbtn {
      position: absolute;
      right: 0;
      color: #8d8d8d;
      padding-right: 5px;
      font-size: 23px;
      cursor: pointer; }
    header nav #check {
      display: none; }
      header nav #check:checked ~ ul {
        left: 0;
        top: 59px;
        transition: left 500ms;
        z-index: 2; }

/* Fin Header */
@media only screen and (min-width: 768px) {
  header nav {
    justify-content: space-between; }
    header nav .checkbtn {
      display: none; }
    header nav ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      position: inherit;
      top: 0;
      left: 0;
      width: fit-content;
      height: inherit;
      margin: 0;
      letter-spacing: 1px; }
      header nav ul li {
        display: inline;
        border: none;
        margin: 0 15px; }
        header nav ul li:hover {
          text-decoration: underline;
          background-color: white; }
          header nav ul li:hover a {
            color: black; } }
/* Début Main */
main h2 {
  font-size: 24px;
  color: white; }
main .main_block_banniere {
  background: url(../../img/back-img1.jpg) 50%;
  background-position: 50%;
  background-size: cover;
  padding: 50px 5px; }
  main .main_block_banniere .block_banniere_content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: transparent;
    height: 200px; }
    main .main_block_banniere .block_banniere_content .logo {
      width: 100px; }
    main .main_block_banniere .block_banniere_content a {
      font-size: 16px;
      color: white;
      background-color: #f3976c;
      padding: 10px 25px;
      border-radius: 25px;
      text-transform: uppercase;
      box-shadow: 1px 1px #e47948; }
main .main_present {
  padding: 40px 20px; }
  main .main_present .present_container {
    color: #686868; }
    main .main_present .present_container h1 {
      color: #686868;
      font-size: 18px;
      font-weight: bold; }
    main .main_present .present_container .present_container_block {
      margin: 20px 0;
      font-size: 16px;
      font-weight: normal;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center; }
      main .main_present .present_container .present_container_block .present_content {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 20px 30px;
        width: 264px; }
        main .main_present .present_container .present_container_block .present_content h3 {
          font-size: 18px;
          text-transform: uppercase; }
        main .main_present .present_container .present_container_block .present_content img {
          width: 100px; }
    main .main_present .present_container .present_citation {
      max-width: 400px;
      text-align: center;
      font-style: italic;
      margin: 10px auto;
      padding: 10px;
      color: white;
      background-color: #686868;
      font-size: 16px; }
      main .main_present .present_container .present_citation q {
        margin: 0 20px; }
        main .main_present .present_container .present_citation q cite {
          display: inline-block;
          margin: 0;
          font-weight: normal; }
      main .main_present .present_container .present_citation strong {
        font-weight: normal; }

.main_objectif {
  background: url(../../img/back-img2.jpg);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed; }
  .main_objectif h2 {
    padding: 20px;
    text-align: center;
    color: white; }
  .main_objectif .main_objectif_block {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-size: 18px;
    padding: 20px 20px 40px 20px;
    text-align: center;
    z-index: 1; }
    .main_objectif .main_objectif_block::before {
      content: '';
      display: inline-block;
      background-color: #8d7550;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.7; }
    .main_objectif .main_objectif_block p:nth-child(2) {
      font-size: 16px;
      color: #fad5c4; }
    .main_objectif .main_objectif_block p:nth-child(3) {
      color: white;
      font-size: 16px; }
    .main_objectif .main_objectif_block a {
      font-size: 16px;
      color: white;
      background-color: #f3976c;
      padding: 10px 25px;
      border-radius: 25px;
      text-transform: uppercase;
      box-shadow: 1px 1px #e47948; }

.main_realisation {
  background-image: url(../../img/texture-line.png.png); }
  .main_realisation .realisation-block {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 20px; }
    .main_realisation .realisation-block h2 {
      font-weight: normal;
      color: #333333;
      font-size: 26px;
      text-align: center; }
    .main_realisation .realisation-block .realisation-articles article {
      max-width: 375px;
      margin: 40px 0; }
      .main_realisation .realisation-block .realisation-articles article h3 {
        font-size: 16px;
        text-transform: uppercase; }
      .main_realisation .realisation-block .realisation-articles article p {
        margin: 0;
        font-size: 16px;
        color: #686868; }
      .main_realisation .realisation-block .realisation-articles article img {
        width: 100%; }

.banniere-2 .banniere-2_content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold; }
  .banniere-2 .banniere-2_content a {
    margin-top: 15px;
    font-size: 16px;
    color: white;
    background-color: #f3976c;
    padding: 10px 16px;
    border-radius: 25px;
    box-shadow: 0.5px 0.5px #e47948; }

/* Fin Main */
/* Début Footer */
footer {
  background-color: #f3976c;
  color: white;
  padding: 20px; }
  footer .logo-full2 {
    width: 250px; }
  footer .footer_social {
    margin-top: 9px;
    margin-left: 5px;
    letter-spacing: 10px;
    font-size: 35px; }
    footer .footer_social a {
      color: white; }
  footer nav {
    font-size: 14px;
    width: 100%; }
    footer nav ul {
      padding: 0; }
      footer nav ul li {
        padding: 5px 0; }
        footer nav ul li a {
          font-size: 16px;
          color: #686868; }
  footer .footer_contact {
    font-size: 14px;
    width: 100%; }
    footer .footer_contact a {
      font-size: 16px;
      color: #686868; }
    footer .footer_contact p {
      color: #686868;
      text-align: left; }

/* Fin Footer */

/*# sourceMappingURL=style.css.map */
